#contentGeral{
    min-height: 60px;
}

#preloader{
    position: absolute;
    width: 115px;
    height: 26px;
    margin: auto;
    right: 159px;
    top: 14px;
}

.floatBarsG{
    position:absolute;
    top:0;
    background-color:rgb(183, 184, 185);
    width:20px;
    height:20px;
    animation-name:bounce_floatBarsG;
    -o-animation-name:bounce_floatBarsG;
    -ms-animation-name:bounce_floatBarsG;
    -webkit-animation-name:bounce_floatBarsG;
    -moz-animation-name:bounce_floatBarsG;
    animation-duration:0.975s;
    -o-animation-duration:0.975s;
    -ms-animation-duration:0.975s;
    -webkit-animation-duration:0.975s;
    -moz-animation-duration:0.975s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.2);
    -o-transform:scale(.2);
    -ms-transform:scale(.2);
    -webkit-transform:scale(.2);
    -moz-transform:scale(.2);
}

#floatBarsG_1{
    left:0;
    animation-delay:0.386s;
    -o-animation-delay:0.386s;
    -ms-animation-delay:0.386s;
    -webkit-animation-delay:0.386s;
    -moz-animation-delay:0.386s;
}

#floatBarsG_2{
    left:28px;
    animation-delay:0.4825s;
    -o-animation-delay:0.4825s;
    -ms-animation-delay:0.4825s;
    -webkit-animation-delay:0.4825s;
    -moz-animation-delay:0.4825s;
}

#floatBarsG_3{
    left:55px;
    animation-delay:0.589s;
    -o-animation-delay:0.589s;
    -ms-animation-delay:0.589s;
    -webkit-animation-delay:0.589s;
    -moz-animation-delay:0.589s;
}

#floatBarsG_4{
    left:83px;
    animation-delay:0.6855s;
    -o-animation-delay:0.6855s;
    -ms-animation-delay:0.6855s;
    -webkit-animation-delay:0.6855s;
    -moz-animation-delay:0.6855s;
}



@keyframes bounce_floatBarsG{
    0%{
        transform:scale(1);
        background-color:rgb(183, 184, 185);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_floatBarsG{
    0%{
        -o-transform:scale(1);
        background-color:rgb(183, 184, 185);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_floatBarsG{
    0%{
        -ms-transform:scale(1);
        background-color:rgb(183, 184, 185);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_floatBarsG{
    0%{
        -webkit-transform:scale(1);
        background-color:rgb(183, 184, 185);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_floatBarsG{
    0%{
        -moz-transform:scale(1);
        background-color:rgb(183, 184, 185);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
